/*-------------------------------------------*\
	_header.scss

\*-------------------------------------------*/

.Header{
  &-Wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1{
      padding-top: .5rem;
    }
    @include media-breakpoint-up(sm){
      flex-direction: row;
      padding: 0 24px;
      height: 90px;
    }
  }
  &-Txt{
    padding-bottom: .5rem;
    .date{ 
      font-size: $font-size-sm-em;
      // font-family: $font-primary-en;
    }
    .ALink-Wrap{ padding-top: .75rem;}
    .alink{ 
      color: $base-color-txt;
    }
    @include media-breakpoint-up(sm){
      text-align: right;
      padding-bottom: 0;
    }
  }
}
