/*-------------------------------------------*\
	_title.scss
	
\*-------------------------------------------*/
.title-primary{
  font-size: $font-size-base*2.5;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}