/*-------------------------------------------*\
	DiagramText.scss

  - 1.基本欄位的樣式
    -1.1 標題
    -1.2 圖片
    -1.3 簡介
    -1.4 hover效果
    -1.5 標籤

  - 2.條列式圖文
  - 3.相關連結
\*-------------------------------------------*/
//基本樣式
div[class *=kf-diagramtext]{
  .kf-item{
    display: block;
    // height: 100%;;
    transition: all .3s ease-in-out;
    //標題
    .kf-title{ 
      color: $base-color_txt;
      margin-bottom: 0;
    }
    //圖片
    .kf-img figure{
      box-shadow: $box-shadow;
      @include media-breakpoint-up(mx){
        box-shadow: $box-shadow-lg;
      }
    }
     //簡介
    .kf-txt{
      margin-top: .75rem;
      font-size: $font-size-base-em;
      color: $base-color_txt;
      line-height: $line-height-base;
    }

  }
  a.kf-item{
    &:hover,&:focus{
      .kf-title { color: $primary_d;}
      img{ transform:scale(1.05);}
    }
  }
  .badge{ 
    margin-bottom: .25rem;
    text-align: left;
    white-space: initial;
    max-width: 200px;
    line-height: $line-height-sm;
   }
}
// 條列式
.kf-diagramtext-list{
  .kf-diagramtext-col{
    margin-bottom: 3.5rem;
    .kf-item{
      display: flex;
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(lg){
      // margin: 0 !important;
      min-height: 13em;
      // margin-bottom: 0;
      .kf-item{
        .kf-text-content{
          padding-left: 1.25rem;
          width: calc(100% - 33.3333333333%);
        }
      }
    }
  }
}
//卡片式
.kf-diagramtext-card{
  .kf-diagramtext-col{
    margin-bottom: 1.5rem;
    .kf-img + .kf-text-content{
      // margin-top: .75rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    } 
  }
}
// 相關連結
.kf-weblink{
  .kf-diagramtext-col{
    margin-bottom: 2rem;
    .kf-item{
      border: $border-width solid $border-color;
    }
    .kf-img + .kf-text-content{
      margin-top: .75rem;
    }
  }
  .kf-img,.kf-text-content{
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.kf-diagramtext-list.kf-weblink{
  .kf-diagramtext-col{
    min-height: 7rem;
  }
  @include media-breakpoint-up(md){
    .kf-diagramtext-col{
      margin-bottom: 0;
      .kf-item{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: $border-width solid $border-color;
      }
      .kf-img{
        max-width: 220px;
      }
      .kf-img + .kf-text-content{
        max-width: calc(100% - 220px);
        margin-top: 0;
      }
    }
  }
}