/*-------------------------------------------*\
	kf-WordBreak.scss


\*-------------------------------------------*/
.kf-break-all{ word-break: break-all;} //任意的斷行
.kf-break-word{ word-break: break-word;} 
.kf-keep-all{ word-break: keep-all;}