/*-------------------------------------------*\
	_firstView.scss
	
	Index
  - 1.firstView
\*-------------------------------------------*/
.firstView{
  padding-top: 108px;
  .row{
    position: relative;
    #tabC{
      scroll-margin-top: calc(110px + 3rem);
    }
  }
  @include media-breakpoint-up(lg){
    padding-top: 170px;
  }
}
