body {
    font-family:
        '微軟正黑體',
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        'Liberation Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
}

.fz-1 {
    font-size: 12px;
}
.fz-2 {
    font-size: 14px !important;
}
.fz-3 {
    font-size: 16px;
}
.fz-4 {
    font-size: 18px;
}
.fz-5 {
    font-size: 20px;
}
.fz-6 {
    font-size: 24px;
}
