<div class="newsletter-articles-edit accordion-flush" id="accordionArticleCreate">
    <!-- 第一區塊 -->
    <div id="articleSection1" class="accordion-item mx-1">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <!-- 第一區塊 - 風琴標題 -->
            <label class="form-check-label me-4">
                <input type="checkbox" class="form-check-input render-section-check" name="" id="render-section-check-1" value="checkedValue" checked>
                
            </label>
            <div class="form-floating mb-0">
                  
                <input type="email" class="form-control" id="input10" placeholder="焦點話題" value="焦點話題">
                <label for="input10" class="form-label">文章區塊 1 標題</label>
            </div>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div id="" class="p-0 accordion-body ">            
            <!-- 第一區塊 - 風琴內容 -->
            <!-- 文章單位 -->
            <div class="mx-1 p-3 row align-items-center row-bg-gray">
                <div class="col-12 col-md-2 col-lg-2 px-0 text-start text-md-start">
                    <div class="m-0  fw-bold">
                        <i class="fz-5 add-article fas fa-plus-circle"></i> 
                        <i class="fz-5 delete-article fas fa-minus-circle me-2"></i> 
                        第 1 篇  
                    </div> 
                </div>
            </div>
            <!-- 文章 1 -->
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input111"><span class="text-danger">*</span>文章標籤</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <input type="" class="form-control" id="input111" name="input111" value="" placeholder="">
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input112"><span class="text-danger">*</span>封面照片</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                            <input class="form-control" type="file" id="input112" name="input112">
                        </div>
                        <div class="col-12 col-lg-6">
                            <!-- ʕ•͡ᴥ•ʔノ 封面圖片 -->
                            <img src="https://placehold.jp/215x150.png" class="my-1" alt="封面圖片" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input113"><span class="text-danger">*</span>主標題</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <input type="" class="form-control" id="input113" name="input113" value="" placeholder="">
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input114">次標題</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <input type="" class="form-control" id="input114" name="input114" value="" placeholder="">
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input115"><span class="text-danger">*</span>內容簡介</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <textarea class="form-control" name="input115" id="input115"></textarea>
                </div>
            </div>

        </div>
      </div>
    </div>
    <!-- 第二區塊 -->
    <div id="articleSection2" class="accordion-item mx-1">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
             <!-- 第二區塊 - 風琴標題 -->
            <label class="form-check-label me-4">
                <input type="checkbox" class="form-check-input render-section-check" name="" id="render-section-check-2" value="checkedValue" checked>
                
            </label>
             <div class="form-floating mb-0">
                <input type="text" class="form-control" id="input20" placeholder="活動報導" value="活動報導">
                <label for="input20" class="form-label">文章區塊 2 標題</label>
            </div>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="p-0 accordion-body">
            <!-- 第二區塊 - 風琴內容 -->
            <!-- 文章單位 -->
            <div class="mx-1 p-3 row align-items-center row-bg-gray">
                <div class="col-12 col-md-2 col-lg-2 px-0 text-start text-md-start">
                    <div class="m-0 fw-bold">
                        <i class="fz-5 fas fa-plus-circle"></i> 
                        <i class="fz-5 fas fa-minus-circle me-2"></i> 
                        第 1 篇  
                    </div> 
                </div>
            </div>
            <!-- 文章 1 -->
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input111"><span class="text-danger">*</span>文章標籤</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <input type="" class="form-control" id="input111" name="input111" value="" placeholder="">
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input112"><span class="text-danger">*</span>封面照片</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                            <input class="form-control" type="file" id="input112" name="input112">
                        </div>
                        <div class="col-12 col-lg-6">
                            <!-- ʕ•͡ᴥ•ʔノ 封面圖片 -->
                            <img src="https://placehold.jp/215x150.png" class="my-1" alt="封面圖片" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input113"><span class="text-danger">*</span>主標題</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <input type="" class="form-control" id="input113" name="input113" value="" placeholder="">
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input114">次標題</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <input type="" class="form-control" id="input114" name="input114" value="" placeholder="">
                </div>
            </div>
            <div class="mx-1 p-4 row align-items-center row-bg-light">
                <div class="col-12 col-md-2 col-lg-2 text-start text-md-end">
                    <label class="form-label mb-0" for="input115"><span class="text-danger">*</span>內容簡介</label>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <textarea class="form-control" name="input115" id="input115"></textarea>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>