<div class="modal fade" id="editNewsletterFooterModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editNewsletterFooterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="createRoleModalLabel">電子報頁尾設定</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 區塊標題 -->
                <div class="mx-1 p-1 row align-items-center row-bg-gray">
                    <div class="col-12 col-md-2 col-lg-2 text-start text-md-start">
                        <p class="m-0 fw-bold">圖示連結</p>
                    </div>
                </div>
                <div class="mx-1 p-4 row align-items-center row-bg-light">
                    <div class="col-12 col-md-12 col-lg-4 text-start text-lg-end">
                        <label class="form-label mb-0" for="input01"><span class="text-danger">*</span>
                            <img class="icon-footer me-2 mb-1" src="/assets/Image/home-50.png" alt="首頁連結圖示">首頁連結︰
                        </label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <input type="text" class="form-control" id="input01" name="input01" value="input01" placeholder="首頁連結">
                    </div>
                </div>
                <div class="mx-1 p-4 row align-items-center row-bg-light">
                    <div class="col-12 col-md-12 col-lg-4 text-start text-lg-end">
                        <label class="form-label mb-0" for="input02">
                            <img class="icon-footer me-2 mb-1" src="/assets/Image/line-50.png" alt="LINE連結圖示">LINE 連結︰
                        </label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <input type="text" class="form-control" id="input02" name="input02" value="input02" placeholder="LINE連結">
                    </div>
                </div>
                <div class="mx-1 p-4 row align-items-center row-bg-light">
                    <div class="col-12 col-md-12 col-lg-4 text-start text-lg-end">
                        <label class="form-label mb-0" for="input03">
                            <img class="icon-footer me-2 mb-1" src="/assets/Image/facebook-50.png" alt="Facebook連結圖示">Facebook 連結︰
                        </label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <input type="text" class="form-control" id="input03" name="input03" value="input03" placeholder="Facebook連結">
                    </div>
                </div>

                
                <!-- 區塊標題 -->
                <div class="mx-1 p-1 row align-items-center row-bg-gray">
                    <div class="col-12 col-md-2 col-lg-2 text-start text-md-start">
                        <p class="m-0 fw-bold">訂閱連結</p>
                    </div>
                </div>
                <div class="mx-1 p-4 row align-items-center row-bg-light">
                    <div class="col-12 col-md-12 col-lg-4 text-start text-lg-end">
                        <label class="form-label mb-0" for="input04">
                            <span class="text-danger">*</span>訂閱電子報連結︰
                        </label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <input type="text" class="form-control" id="input04" name="input04" value="input04" placeholder="訂閱電子報連結">
                    </div>
                </div>
                <div class="mx-1 p-4 row align-items-center row-bg-light">
                    <div class="col-12 col-md-12 col-lg-4 text-start text-lg-end">
                        <label class="form-label mb-0" for="input05">
                            <span class="text-danger">*</span>取消訂閱連結︰
                        </label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <input type="text" class="form-control" id="input05" name="input05" value="input05" placeholder="取消訂閱連結">
                    </div>
                </div>
                
                <!-- 區塊標題 -->
                <div class="mx-1 p-1 row align-items-center row-bg-gray">
                    <div class="col-12 col-md-2 col-lg-2 text-start text-md-start">
                        <p class="m-0 fw-bold">頁尾資訊</p>
                    </div>
                </div>
                <div class="mx-1 p-4 row align-items-center row-bg-light">
                    <div class="col-12 col-md-12 col-lg-4 text-start text-lg-end">
                        <label class="form-label mb-0" for="input02">頁尾內容</label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-8">
                        <div id="editor" style="border: 1px solid #ced4da; border-radius: 0.25rem;">
                            <p>Hello, <strong>World</strong></p>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary text-white">確認</button>
            </div>
        </div>
    </div>
</div>