<div class="modal fade" id="createRoleUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createRoleUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="createRoleUserModalLabel">添加使用者</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <%- include('src/layout/tableRoleUserMappingCreate.ejs'); -%>           

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary text-white">確認</button>
        </div>
    </div>
    </div>
</div>