
<aside class="aside-left side-div p-0 border-0 shadow-sm">
    <div class="accordion accordion-flush" id="accordion">
        <!-- <div class="accordion-item border-0">
            <h2 class="accordion-header" id="open1">
                <button class="p-5 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    系統管理
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="open1">
                <div class="accordion-body p-0">
                    <ul class="flush-child list-group list-group-flush">
                        <li class="list-group-item p-0 border-0">
                            <a class="text-decoration-none text-decoration-none fz-2 d-block link-dark py-3 px-4" href="user-management-list.html">使用者管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <a class="w-100 p-5 d-inline-block sidebar-no-child link-dark text-decoration-none" href="user-management-list.html"> 使用者管理 </a>
        <a class="w-100 p-5 d-inline-block sidebar-no-child link-dark text-decoration-none" href="newsletter-list.html">
            電子報管理
        </a>
    </div>
</aside>
