

<table id="tableUserList" class="dataTable hoverLargeImage pageTable9Hide4 table table-hover mt-3 mb-2 nowrap">
    <thead>
            <tr>
                    <th class="fz-3" style="width: 0">#</th>
                    <th class="fz-3">名稱</th>
                    <th class="fz-3">信箱</th>
                    <th class="fz-3">狀態</th>
                    <th class="fz-3">角色</th>
                    <th class="fz-3">功能</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">系統管理員</td>
                    <td class="py-0 fz-3" data-src="信箱">admin@mail.slab.com.tw</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="角色">系統管理者</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">陳小明</td>
                    <td class="py-0 fz-3" data-src="信箱">xiaoming.wang@example.com</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-danger">關閉</span></td>
                    <td class="py-0 fz-3" data-src="角色">管理者</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">李佳怡</td>
                    <td class="py-0 fz-3" data-src="信箱">jiayi.li@example.com</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="角色">管理者</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">張志豪</td>
                    <td class="py-0 fz-3" data-src="信箱">zhihao.zhang@example.com</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="角色">技術人員</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">陳美玲</td>
                    <td class="py-0 fz-3" data-src="信箱">meiling.chen@example.com</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="角色">技術人員</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">林俊傑</td>
                    <td class="py-0 fz-3" data-src="信箱">junjie.lin@example.com</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="角色">技術人員</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
    </tbody>
    </table>  