
<table id="tableRoleUserCreateList" class="dataTable pageTable9Hide4 table table-hover mt-3 mb-2 nowrap">
    <thead>
            <tr>
                <th class="fz-3" style="width: 0">#</th>
                <th class="fz-3">名稱</th>
                <th class="fz-3">帳號</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                <td class="py-0"> 
                        <div class="form-check">
                                <input class="my-4 form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label d-none" for="flexCheckDefault">
                                Default checkbox
                                </label>
                        </div>
                </td>
                <td class="py-0 fz-3" data-src="名稱">UserR</td>
                <td class="py-0 fz-3" data-src="帳號">UserR@mail.com</td>
            </tr>
    </tbody>
    </table>  

    