
<table id="tableUserList" class="dataTable hoverLargeImage pageTable9Hide4 table table-hover mt-3 mb-2 nowrap">
    <thead>
            <tr>
                    <th class="fz-3" style="width: 0">#</th>
                    <th class="fz-3">角色名稱</th>
                    <th class="fz-3">說明</th>
                    <th class="fz-3">狀態</th>
                    <th class="fz-3">異動紀錄</th>
                    <th class="fz-3">功能</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="角色名稱">系統管理員</td>
                    <td class="py-0 fz-3" data-src="說明">擁有全站最高權限，可管理使用者與系統設定。</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="異動紀錄">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="編輯" data-bs-toggle="modal" data-bs-target="#editRoleModal"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="角色權限設定" data-bs-toggle="modal" data-bs-target="#editUserModal"><i class="fa-solid fa-lock"></i><span class="d-none">角色權限設定</span></a>
                        <a href="role-user-mapping.html" class="px-1 fz-3 link-success" type="button" title="角色人員設定"><i class="fa-solid fa-user"></i><span class="d-none">角色人員設定</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除" ><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="角色名稱">一般使用者</td>
                    <td class="py-0 fz-3" data-src="說明">可閱讀電子報與留言，但無法修改任何內容。</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="異動紀錄">2025-06-13 08:58:01 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="編輯" data-bs-toggle="modal" data-bs-target="#editRoleModal"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="角色權限設定" data-bs-toggle="modal" data-bs-target="#editUserModal"><i class="fa-solid fa-lock"></i><span class="d-none">角色權限設定</span></a>
                        <a href="role-user-mapping.html" class="px-1 fz-3 link-success" type="button" title="角色人員設定"><i class="fa-solid fa-user"></i><span class="d-none">角色人員設定</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除" ><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="角色名稱">內容維護者</td>
                    <td class="py-0 fz-3" data-src="說明">可新增與編輯電子報內容，無法管理使用者。</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">開啟</span></td>
                    <td class="py-0 fz-3" data-src="異動紀錄">2025-06-12 10:35:12 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="編輯" data-bs-toggle="modal" data-bs-target="#editRoleModal"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="角色權限設定" data-bs-toggle="modal" data-bs-target="#editUserModal"><i class="fa-solid fa-lock"></i><span class="d-none">角色權限設定</span></a>
                        <a href="role-user-mapping.html" class="px-1 fz-3 link-success" title="角色人員設定"><i class="fa-solid fa-user"></i><span class="d-none">角色人員設定</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除" ><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
    </tbody>
    </table>  