
<table id="tableUserList" class="dataTable hoverLargeImage pageTable9Hide4 table table-hover mt-3 mb-2 nowrap">
    <thead>
            <tr>
                    <th class="fz-3" style="width: 0">#</th>
                    <th class="fz-3">名稱</th>
                    <th class="fz-3">帳號</th>
                    <th class="fz-3">功能</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="名稱">UserR</td>
                    <td class="py-0 fz-3" data-src="帳號">UserR@mail.com</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除" ><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
    </tbody>
    </table>  