

<table id="tableNewsletterList" class="dataTable hoverLargeImage pageTable9Hide4 table table-hover mt-3 mb-2 nowrap">
    <thead>
            <tr>
                    <th class="fz-3" style="width: 0">#</th>
                    <th class="fz-3">電子報期數</th>
                    <th class="fz-3">電子報日期</th>
                    <th class="fz-3">狀態</th>
                    <th class="fz-3">最後編輯時間</th>
                    <th class="fz-3">功能</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="電子報期數">第 256 期</td>
                    <td class="py-0 fz-3" data-src="電子報日期">2025 年 6 月份</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">已寄出</span></td>
                    <td class="py-0 fz-3" data-src="最後編輯時間">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="預覽" data-bs-toggle="modal" data-bs-target="#viewNewsletterModal"><i class="fa-solid fa-eye"></i><span class="d-none">預覽</span></a>
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="電子報期數">第 255 期</td>
                    <td class="py-0 fz-3" data-src="電子報日期">2025 年 5 月份</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-danger">未寄出</span></td>
                    <td class="py-0 fz-3" data-src="最後編輯時間">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="預覽" data-bs-toggle="modal" data-bs-target="#viewNewsletterModal"><i class="fa-solid fa-eye"></i><span class="d-none">預覽</span></a>
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="電子報期數">第 254 期</td>
                    <td class="py-0 fz-3" data-src="電子報日期">2025 年 4 月份</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">已寄出</span></td>
                    <td class="py-0 fz-3" data-src="最後編輯時間">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="預覽" data-bs-toggle="modal" data-bs-target="#viewNewsletterModal"><i class="fa-solid fa-eye"></i><span class="d-none">預覽</span></a>
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="電子報期數">第 253 期</td>
                    <td class="py-0 fz-3" data-src="電子報日期">2025 年 3 月份</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">已寄出</span></td>
                    <td class="py-0 fz-3" data-src="最後編輯時間">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="預覽" data-bs-toggle="modal" data-bs-target="#viewNewsletterModal"><i class="fa-solid fa-eye"></i><span class="d-none">預覽</span></a>
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="電子報期數">第 252 期</td>
                    <td class="py-0 fz-3" data-src="電子報日期">2025 年 2 月份</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">已寄出</span></td>
                    <td class="py-0 fz-3" data-src="最後編輯時間">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="預覽" data-bs-toggle="modal" data-bs-target="#viewNewsletterModal"><i class="fa-solid fa-eye"></i><span class="d-none">預覽</span></a>
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
            <tr>
                    <td class="py-0"></td>
                    <td class="py-0 fz-3" data-src="電子報期數">第 251 期</td>
                    <td class="py-0 fz-3" data-src="電子報日期">2025 年 1 月份</td>
                    <td class="py-0 fz-3" data-src="狀態"><span class="text-success">已寄出</span></td>
                    <td class="py-0 fz-3" data-src="最後編輯時間">2025-05-20 12:45:17 Admin</td>
                    <td class="py-0 fz-3" data-src="功能">
                        <a href="#" class="px-1 fz-3" type="button" title="預覽" data-bs-toggle="modal" data-bs-target="#viewNewsletterModal"><i class="fa-solid fa-eye"></i><span class="d-none">預覽</span></a>
                        <a href="#" class="px-1 fz-3 link-success" type="button" title="寄送"><i class="fa-solid fa-paper-plane"></i><span class="d-none">寄送</span></a>
                        <a href="#" class="px-1 fz-3" type="button" title="編輯"><i class="fa-regular fa-pen-to-square"></i><span class="d-none">編輯</span></a>
                        <a href="#" class="px-1 fz-3 link-danger" type="button" title="刪除"><i class="fa-regular fa-trash-can"></i><span class="d-none">刪除</span></a>
                    </td>
            </tr>
    </tbody>
    </table>  